<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Codesoft6_PrintDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Codesoft6_PrintDemo.Properties.Settings>
            <setting name="locked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeBarcode_A" serializeAs="String">
                <value />
            </setting>
            <setting name="SeBarcode_B" serializeAs="String">
                <value />
            </setting>
            <setting name="SeBarcode_C" serializeAs="String">
                <value />
            </setting>
            <setting name="SeBarcode_D" serializeAs="String">
                <value />
            </setting>
            <setting name="SeBarcode_W" serializeAs="String">
                <value />
            </setting>
            <setting name="SeBarcode_A_LEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeBarcode_B_LEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeBarcode_C_LEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeBarcode_D_LEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeBarcode_W_LEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temple_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckSNfuction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer_Sys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Barcode_num" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintNum" serializeAs="String">
                <value>1</value>
            </setting>
        </Codesoft6_PrintDemo.Properties.Settings>
    </userSettings>
</configuration>
